/* .login-form{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px;
}
.form-style{
    border: 1px solid black;
    border-radius: 10px;
    box-shadow: 2px 2px 2px black;
    padding: 20px;
} */
